{{ define "hero"}}
<div class="hero section no-pad-bot" id="index-banner">
    <div class="container title">
        <br><br>
        <h1 class="header center">{{ .Site.Title }}</h1>
        <div class="row center">
            <a href="#event"><span class="material-icons md-48 md-light">keyboard_arrow_down</span></a>
        </div>
        <br><br>
    </div>
</div>
{{ end }}
{{ define "main" }}
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 id="event">展示物</h4>
                <div class="row">
                    {{ range .Site.RegularPages }}
                    <a href="{{.RelPermalink}}">
                        {{ .Render "summary" }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}